.chart {
  // margin: auto;
  // margin-left: 10vw;
  // max-width: 60vw;
  // min-height: 100vh;
  @include tabletSS {
    margin-left: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
}
