@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

// $background1: #eff4f9;
// $secondaryColor: #eff4f9;
// $primaryColor: #1663b0;
// $fontColor: #292d32;
// $bigFontColor: #404346;
// $fontFamily: "Roboto", sans-serif;

.red {
  color: rgb(195, 8, 8);
}

.green {
  color: rgb(6, 138, 23);
}

.blue {
  color: $primaryColor;
}
