.landing {
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  background-size: cover;
  background-position: center;
  position: relative;
  // margin-left: 20vw;
  @include tabletSS {
    margin-left: 0;
  }
  .content {
    align-items: center;
    justify-content: center;
    padding-left: 50px;
  }

  .sectionTitle {
    color: #fff;
  }

  .smallText {
    color: #fff;
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
}
