@import "colors";

.lgatable {
  width: 80vw;
  padding: 60px 50px;
  margin: 0 auto;
  @include tabletSS {
    width: 100vw;
    padding: 60px 25px;
  }
  @include mobileSS {
    width: 100vw;
    padding: 60px 25px;
  }
  .info {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .dropdown {
    max-width: 50%;
    border-radius: 10px;

    .select {
      background-color: #fff;
      border-style: solid;
      border-color: $primaryColor;
      border-width: 1px;
    }
    @include mobileSS {
      max-width: 100%;
    }
  }
  .tile {
    color: #fff;
    background-color: $primaryColor;
    padding: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      border-style: solid;
      border-width: 0.5px;
      border-color: $primaryColor;
    }
  }
  .moreInfo {
    padding: 0 20px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;

    p {
      font-size: small;
    }
    .moreInfoList {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(162, 161, 161, 0.513);
      padding-bottom: 2px;
      cursor: pointer;
      &:hover {
        background-color: $primaryColor;
        color: #fff;
      }
    }
  }
  .totalTile {
    background-color: #fff;
    padding: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    color: #fff;
  }
}
