.navbar {
  background-color: $primaryColor;
  color: $secondaryColor;
  width: 100%;
  height: 50px;
  z-index: 2;
  position: fixed;
  top: 0;
  padding-left: 40px;
  // visibility: hidden;
  @media print {
    display: none;
  }

  @include tabletSS {
    visibility: visible;
  }

  @include mobileSS {
    padding-left: 20px;
    visibility: visible;
  }

  .show {
    left: 0;
  }
  label.brand {
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 15px;
    // height: 100%;
    // margin-left: 40px;
    @include laptop {
      // font-size: medium;
      // padding-left: 40px;
    }
  }

  img {
    width: fit-content;
    padding: 7.5px 20px 7.5px 10px;
    height: 100%;
  }
  ul {
    // visibility: hidden;
    float: right;
    margin-right: 40px;
    @include laptop {
      margin-right: 20px;
    }
    @include tabletSS {
      visibility: visible;
      position: fixed;
      width: 100%;
      background-color: $primaryColor;
      color: #fff;
      top: 50px;
      text-align: center;
      left: -100%;
      transition: all 0.5s;
    }

    li {
      line-height: 50px;
      display: inline-block;
      // color: #fff;
      @include tabletSS {
        display: block;
        margin: 20px;
        line-height: 30px;
      }
      &:hover {
        color: $primaryColor;
        background-color: $secondaryColor;
        transition: 0.5s;
        a {
          color: $primaryColor;
        }
      }
      a {
        font-size: medium;
        // color: $primaryColor;
        text-transform: uppercase;
        color: #fff;
        margin: 0 20px;
        // &:hover {
        //   color: #fff;
        // }
        @include tabletSS {
          color: #fff;
        }
      }
    }
    li.active {
      background-color: $primaryColor;
      color: #fff;
      transition: 0.5s;
      a {
        color: $primaryColor;
      }
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
  label.icon {
    color: $secondaryColor;
    font-size: medium;
    line-height: 50px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;

    @include tabletSS {
      display: block;
    }
    @include mobileSS {
      visibility: visible;
    }
  }
}
