.sidebar {
  height: 100vh;
  background-color: $primaryColor;
  display: flex;
  width: 20vw;
  align-content: space-between;
  position: fixed;
  top: 0;

  @include mobileSS {
    display: none;
  }
  @include tabletSS {
    display: none;
  }
  label {
    color: #fff;
    line-height: 40px;
    position: absolute;
    top: 10px;
    padding-left: 20px;
    font-weight: 700;
  }
  .sidebar_start {
    align-items: center;
    display: block;
    width: 100%;
    /* flex-direction: column; */
    /* padding-left: 10px; */
    /* margin-right: 40px; */
    /* mar  */
  }
  .sidebar_end {
    align-items: center;
    // display: block;
    // width: 100%;
    color: #fff;
  }
  .sidebar_start_list {
    display: flex;
    flex-direction: column;
    color: #fff;
    white-space: nowrap;
    // padding-left: 10px;
  }

  .sidebar_start_list_item {
    /* padding-top: 15px; */
    /* padding-bottom: 5px; */
    /* margin-bottom: 20px; */
    /* border-bottom: #ccc solid 1px; */
    /* background-color: #112d4e; */
    // font-size: 2rem;
    align-items: center;
    padding: 19px 20px;
    display: block;
    border-bottom: #112d4e solid 1px;
    span {
      padding-left: 8px;
      padding-right: 15px;
    }
  }
  .activeItem {
    padding: 19px 20px;
    align-items: center;
    display: block;
    border-bottom: #112d4e solid 1px;
    color: $primaryColor;
    font-weight: 700;
    background-color: $background1;
    span {
      padding-left: 8px;
      padding-right: 15px;
    }
  }

  .sidebar_start_list_item:hover {
    background-color: #112d4e;
  }

  .sidebar_end {
    color: #fff;
  }

  .sidebar_end_list {
    display: flex;
  }

  .check {
    display: none;
    position: absolute;
  }

  .logo {
    margin-left: 10px;
  }

  .link {
    color: #fff;
  }

  .link:hover {
    background-color: #112d4e;
  }

  .bars,
  .bars_close {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 1.5rem;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  img {
    padding-top: 10px;
  }

  .sidebar_end {
    display: none;
  }
}
