.statesWrapper {
  display: flex;
  flex-direction: row;

  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
}

.lgaWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  .comp {
    @include tabletSS {
      padding: 10px;
      margin: 10px;
      width: 100%;
    }
  }
}

.agentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  .comp {
    // padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
}
