@import "screensize";
@import "variables";

.dasboard_new {
  width: 90%;
  margin: 10px auto;
  // padding: 0 50px;

  .tabSection {
    nav {
      display: flex;
      align-items: center;
      // background-color: #fff;
      border-radius: 10px;
      font-weight: 300;
      .active {
        background-color: #fff;
        font-weight: 700;
        border-radius: 15px 15px 0px 0px;
        box-shadow: -5px -5px 3px -2px rgba(0, 0, 0, 0.15);
        transition: all 1s ease;
      }
      label {
        display: block;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        &:hover {
          color: $primaryColor;
          background-color: #b8d6f4;
          border-radius: 15px 15px 0px 0px;
        }
      }
    }
    hr {
      // border-color: $primaryColor;
      border-top: 1px solid #aeb9c5;
    }
  }

  .contentSection {
    // margin-top: 20px;

    .hideWidget {
      display: none;
    }
    .showWidget {
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      min-height: 50vh;
      padding: 20px 20px;
    }
  }

  .spacer {
    // display: none;
    height: 100px;

    @include tabletSS {
      display: block;
      height: 80px;
    }
  }
  .dashboard {
    display: grid;
    // padding-left: 22vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    @include tabletSS {
      grid-template-columns: repeat(2, 1fr);
      padding: 30px 20px;
    }
    @include mobileSS {
      grid-template-columns: repeat(1, 1fr);
      // padding: 80px 20px;
    }

    .repad {
      padding-top: 0px;
    }
    .topCard {
      height: 150px;
      width: 100%;
      padding: 20px;
      color: #fff;
      // display: flex;
      // flex-direction: column;
      margin: auto;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      .icons {
        color: #fff;
        font-size: larger;
      }
    }
    .card {
      // min-height: 100px;
      height: 150px;
      background-color: #fff;
      display: flex;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      display: block;
      cursor: pointer;

      .bgAgent {
        height: 100%;
        background-color: rgb(6, 161, 161);
        color: #fff;
        border-radius: 10px;
      }

      .topbar {
        height: 15px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        //   background-color: rgb(157, 8, 8);
      }
      .content {
        padding: 20px;
      }

      .btnDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .btn {
        // background-color: #0b5775;
        background-color: #1663b0;
        width: 35%;
      }

      .btn:hover {
        background-color: #022044;
      }
    }
  }
  h1 {
    font-weight: 300;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      padding: 12px 15px;
      width: 60vw;
    }
  }
  .headingSection {
    // margin-left: 22vw;
    padding: 20px;
    @include tabletSS {
      margin-left: 0;
      padding: 0 20px;
    }
  }
  .smallName {
    padding-left: 5px;
    font-size: medium;
  }
  .red {
    background-color: rgb(157, 8, 8);
  }
  .green {
    background-color: green;
  }
  .orange {
    background-color: rgb(231, 150, 0);
  }
  .teal {
    background-color: rgb(4, 122, 169);
  }
  .purple {
    background-color: rgb(125, 4, 169);
  }
  .pink {
    background-color: rgb(154, 60, 76);
  }
  .blood {
    background-color: rgb(213, 62, 8);
  }
  .primary {
    background-color: $primaryColor;
  }
  .colorx {
    background-color: rgb(6, 161, 161);
  }
  .chart {
    width: 100%;
    @include mobileSS {
      width: 100%;
      height: auto;
    }
  }
}
