@import "screensize";
@import "variables";

.home {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px 200px;
    align-self: center;
    align-content: center;
    @include tabletSS {
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
      padding-bottom: 10px;
    }

    @include mobileSS {
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem;
      // padding-bottom: 0;
    }
  }

  .img {
    width: 100%;
    height: 200px;
    object-fit: fit;
  }
  .card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .description {
    padding: 10px;
    h3 {
      color: $bigFontColor;
      font-weight: 300;
    }
    p {
      color: $bigFontColor;
      padding: 5px;
    }
  }
}
