@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

@import "reset";
@import "variables";
@import "colors";
@import "mixins";
@import "mixins_pub";
@import "screensize";
@import "dashboard";
@import "layouts";
@import "typos";
@import "table";
@import "buttons";
@import "navbar";
@import "imager";
@import "sidebar";
@import "markdown";
@import "post_page";
@import "posts";
@import "pharmacist";
@import "footer";
@import "books_list";
@import "footer";
@import "modal";
@import "form";
@import "wrappers";
@import "addAgent";
@import "agentsList";
@import "preview";
@import "devStatesRep";
@import "payment";
@import "agentform";
@import "contact";
@import "landing";
@import "verifypage";
@import "chart";
@import "lgatable";
@import "adminpage";
@import "ward";
@import "lgaWardInfo";
@import "home.module";
@import "edit_page.module";
@import "paginate.module";
@import "notification.module";
@import "deletepopup.module";
@import "dashboard_new";
@import "lgalist.module";
@import "wardlist.module";
@import "statelist.module";

:root {
  --fontFamily: "Roboto", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

body {
  font-family: var(--fontFamily);
}

.none {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(9, 106, 163, 0.3), rgba(2, 4, 14, 0.3)),
    url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // padding-top: 500px;

  .textArea {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px 20px;
    margin-right: 30px;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    color: #fff;
    max-width: 400px;
    p {
      padding: 15px 0;
      line-height: 2rem;
      font-weight: 400;
    }
  }
  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
  h2 {
    color: #fff;
  }
}

.thanksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  // margin-left: 20vw;
  background-image: linear-gradient(rgba(9, 106, 163, 0.1), rgba(2, 4, 14, 0.1)),
    url(../public/images/happy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // padding-top: 500px;
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(22, 16, 16, 0.734);
    padding: 20px;
    border-radius: 20px;
  }
  color: #fff;
  @include mobileSS {
    margin: 0;
  }
}

.specificLGA {
  padding-left: 20vw;
  @include mobileSS {
    padding-left: 0;
  }
  h2 {
    font-weight: 300;
    padding-top: 30px;
  }
}

.icon {
  font-size: 15px;
  cursor: pointer;
  background-color: #80a3ce91;
  border-radius: 10px;
  padding: 5px;
  height: 25px;
  width: 25px;
  &.delete {
    background-color: #80080898;
    color: #fff;
  }
}

.BecomeAgentBtn {
  position: fixed;
  top: 30px;
  right: 10px;
  z-index: 2;

  a {
    // width: 50px;
    background-color: $primaryColor;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    &:hover {
      background-color: #022044;
    }
  }
}

.HelpBtn {
  position: fixed;
  top: 85vh;
  right: 10px;
  z-index: 2;
  a {
    // width: 50px;
    background-color: $primaryColor;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    &:hover {
      background-color: #022044;
    }
  }
}
